
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #F2FFFF;
}
.container{
   display: flex; 
   flex-wrap: wrap;
   align-content: flex-start;
   gap: 40px 30px;
   width: 500px;
   height: 1500px;
   margin: 0 auto;
   padding: 30px 35px;
}
.athlet{
    position: relative;
    width: 200px;
    height: 231px;
}

.number{
    position: absolute;
    top: 84px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 32px;
    height: 32px;
    border-radius: 15px 15px 15px 15px;
    background: #FFFFFF;
    font-family: Arial;
    color: #8B0000;
}
.name{
    position: absolute;
    left: 13px;
    width: 174px;
    height: 23px;
    font-family: Arial;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2F4F4F;
}